.content-nav-pc{
    display: block;
}

.content-nav-movil{
    display: none;
}

@media (max-width: 600px){
    .content-nav-pc{
        display: none;
    }

    .content-nav-movil{
        display: block;
    }
}