/* style.module.css */

.chrome-icon {
    position: relative;
}

.chrome-icon:hover .icon-text {
    opacity: 1;
    transform: translate(-50%, -5px);
}

.icon-text {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(66, 66, 66, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
    white-space: nowrap;
}

.settings-chrome {
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.settings-chrome:hover {
    transform: scale(1.2);
}
